* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.navbar {
    background-color: #002627;
    padding-top: 40px;
    color: white;
}

.nav-link {
    color: white;
}

label .nav-btn,
label .nav-cancel {
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

.fa-bars {
    color: white;
}

#check {}

.navbar-toggler-icon {
    background-color: white;
    color: #008079;
    border-radius: 4px;
    padding: 17px;
}

#btn-features {
    padding: 6px 13px;
    background-color: #008079;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 17px;
    margin-left: 10px;
}

#btn {
    padding: 6px 13px;
    background-color: #008079;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 7px;
    font-size: 17px;
    margin-left: 10px;

}

#btn-one {
    display: none;
}


.hero {
    background-color: #002627;
    padding: 40px auto;

}

.hero-img {
    height: 500px;
    width: 500px;
    flex-wrap: wrap;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    padding-bottom: 20px;
}

.hero-btn {
    padding: 8px 20px;
    background-color: #008079;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.work-icon {
    color: #008079
}

.testimonials {
    /* margin: 40px auto; */
    background-color: #002627;
    height: 400px;
}

.testimonials-para {
    font-size: 20px;
    color: white;
    padding: 20px;
}

.carousel-inner {
    margin: 50px auto;
}

.testimonial-body {
    width: 50%;
}

.card-img {
    height: 150px;
    width: 150px;

}

.testimonials-card p {
    padding: 0px auto;
    margin-top: 20px;
}

.fa-brands {
    color: #008079;
}

.footer-heading {
    color: #002627;
}

.footer-icon {
    text-decoration: none;
    color: black;
}

.footer-para {
    padding-bottom: 0px;
}

.footer-icon:hover {
    color: #008079;
}

@media (max-width:839px) {
    .nanavbar-nav {
        display: none;
    }

    .navbar-expand-lg navbar-nav {
        position: fixed;
        top: 80px;
        left: 0%;
        background-color: black;
        height: 100vh;
        width: 100vw;
    }

    .hero-img {
        margin-top: 10px;
        flex-direction: column;
        display: flex;
        position: absolute;
        left: 10%;
        align-items: center;
        justify-content: center;
        height: 280px;
        width: 280px;
        margin-top: 230px;
    }

    .hero {
        background-color: #002627;
        padding: 40px auto;
        height: 800px;


    }

    #check {
        display: block;
        color: white;
    }

    .nav-bar nav-btn {
        display: block;
        color: white;
    }

    #btn {
        display: none;
    }

    #btn-one {
        display: block;
    }


    .testimonials .testimonials-para {
        font-size: 13px;
        color: white;

    }

    .card-img {
        height: 100px;
        width: 100px;

    }

    #btn-features {
        padding: 6px 12px;
        background-color: #008079;
        color: white;
        font-weight: bold;
        border-radius: 5px;
        margin-top: 4px;
        font-size: 14px;
        margin-left: 0px;
        margin-bottom: 20px;


    }

}